/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box;  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

main {
  width: 100%;
}

section.header {
  /*border: 1px solid purple;*/
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /*margin: 3rem 0 3rem 0;*/ /* DOESN'T WORK, DON'T KNOW WHY */
}

.header h1 {
  font-size: 3.5rem;
  margin-bottom: -1%;
  font-weight: bold;
}

.fadeInDownBig {
  -webkit-animation-delay: 0.25s;
}

.bounceInRight {
  -webkit-animation-delay: 1.2s;
}

.header h2 {
  font-size: 1.95rem;
  color: #f39c12;
}

section.input-box {
  /*border: 1px solid blue;*/
}

section.input-box .form-group .input-group input {
  /*border-left: none;*/
}

section.input-box .form-group .input-group .input-group-addon {
  color: #2980b9;
  background: white;
  /*border-right: none;*/
}

section.errors {
  /*border: 1px solid red;*/
  padding: 1rem 0 1rem 0;
}

section.url-list {
  /*border: 1px solid green;*/
}

section.url-list ul li {
  padding: 1rem 4rem 1rem 4rem;
}

section.url-list ul li h3 {
  font-size: 1.75rem;
}

section.url-list ul li h4 {
  font-size: 1.5rem;
}

section.url-list ul li a {
  text-decoration: none;
}

section.url-list ul li a:hover {
  /*color:hsl(240,65%,75%);*/
  filter: brightness(5%);
}

section.url-list ul li span {
  color: #bdc3c7;
  cursor: default;
}

section.url-list ul li span:hover {
  color: #7f8c8d;
}

section.url-list ul li a.list-group-item-heading {
  color: #bdc3c7;
}

section.url-list ul li a.list-group-item-heading:hover {
  color: #7f8c8d;
}

section.url-list ul li a.list-group-item-text {
  color: #e74c3c;
  font-weight: bold;
}

section.url-list ul li a.list-group-item-text:hover {
  color: #c0392b;
  font-weight: bold;
}

footer {
  margin-top: 1rem;
  background: #34495e;
  width: 100%;
  height: 80px;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 0 0 0;
  text-align: center;
  font-weight: bold;
  color: white;
}

footer a {
  font-weight: bold;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: #ecf0f1;
}

@media only screen and (min-width : 480px) {

    }
