<table>
  <tr>
    <th>#</th>
    <th>Original</th>
    <th>Shortened</th>
  </tr>
  <tr>
    <td><%= @url.id%></td>
    <td><%= @url.long_url%></td>
    <td><%= @url.short_url%></td>
  </tr>
</table>
