<table>
  <tr>
    <th>#</th>
    <th>Original</th>
    <th>Shortened</th>
    <th>Click count</th>
  </tr>
  <tr>
    <td><%= @url.id %></td>
    <td><%= @url.long_url %></td>
    <td><%= @url.short_url %></td>
    <td><%= @url.click_count %></td>
  </tr>
</table>
